body {
    font-family: 'Urbanist', sans-serif;
    background-color: #FFF8F0;
    color: #1D1E18;
}

header {
    margin: 0 20px;
}

nav ul a {
    color: #1D1E18;
}

.brand-logo img {
    border-radius: 100px;
    width: 90px;
    margin-left: 20px;
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.boxes {
    display: flex;
    justify-content: center;
}

.boxes .s6 {
    border-radius: 25px;
    border: 1px solid black;
    text-align: center;
    font-size: 24px;
    padding: 25px 35px;
    margin: 15px 100px;
}

.boxes p {
    font-size: 26px;
    font-weight: 700;
}