body {
    font-family: 'Urbanist', sans-serif;
    background-color: #FFF8F0;
    color: #1D1E18;
}

h2 {
    font-weight: 800;
}

header {
    margin: 0 20px;
}

nav ul a {
    color: #1D1E18;
}

.brand-logo img {
    border-radius: 100px;
    width: 90px;
    margin-left: 20px;
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    border-bottom: 1px solid #1D1E18;
}

.boxes {
    display: flex;
    justify-content: center;
}

.boxes .s6 {
    border-radius: 25px;
    border: 1px solid #ca5310;
    text-align: center;
    font-size: 30px;
    padding: 25px 35px;
    margin: 15px 100px;
    background-color: #CA5310;
    color: #FFF8F0;
}

.boxes p {
    font-size: 36px;
    font-weight: 700;
}

.container {
    width: 628px;
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 7px;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07)
}

.flashes {
    font-weight: 600;
    font-size: 26px;
}

.container-1 {
    width: 100%;
    max-width: 1400px;
    padding: 80px 40px;
    margin: 0 auto;
}

span {
    font-weight: 400;
}

.profile .date,
.profile h2 {
    margin-bottom: 5px;
    margin-top: 7px;
}

.profile,
.members {
    font-size: 20px;
}