{% extends "base.html" %} {% block content %}

<div class="row container">
  <h2 class="center-align">Edit Task</h2>
  <form
    class="col s12"
    method="POST"
    action="{{ url_for('edit_task', task_id=task._id) }}"
  >
    <!-- task name -->
    <div class="row">
      <div class="input-field col s12">
        <input
          id="task_name"
          name="task_name"
          minlength="5"
          maxlength="50"
          value="{{ task.task_name }}"
          type="text"
          class="validate"
          required
        />
        <label for="task_name">Task Name</label>
      </div>
    </div>
    <!-- task description -->
    <div class="row">
      <div class="input-field col s12">
        <textarea
          id="description"
          name="description"
          minlength="5"
          maxlength="200"
          class="materialize-textarea validate"
        >
{{ task.description }}</textarea
        >
        <label for="description">Task Description</label>
      </div>
    </div>
    <!-- due date picker -->
    <div class="row">
      <div class="input-field col s12">
        <input
          id="due"
          name="due"
          type="text"
          value="{{ task.due }}"
          class="datepicker validate"
          required
        />
        <label for="due">Due Date</label>
      </div>
    </div>
    <!-- priority selector -->
    <div class="row">
      <div class="input-field col s12">
        <select
          class="validate"
          name="priority_degree"
          id="priority_degree"
          required
        >
          <option value="" disabled>Priority</option>
          {% for priority in priorities %} {% if priority.priority_degree
          ==task.priority %}
          <option value="{{priority.priority_degree}}" selected>
            {{priority.priority_degree}}
          </option>
          {% else %}
          <option value="{{ priority.priority_degree }}">
            {{ priority.priority_degree }}
          </option>
          {% endif %} {% endfor %}
        </select>
        <label for="priority_degree">Priority</label>
      </div>
    </div>
    <!-- team selector -->
    <div class="row">
      <div class="input-field col s12">
        <select class="validate" name="team_name" id="team_name" required>
          <option value="" disabled>Select the team</option>
          {% for team in teams %} {% if team.name == task.team_name %}
          <option value="{{team.name}}" selected>{{team.name}}</option>
          {% else %}
          <option value="{{ team.name }}">{{ team.name }}</option>
          {% endif %} {% endfor %}
        </select>
        <label for="team_name">This task is for who?</label>
      </div>
    </div>
    <!-- submit button -->
    <div class="row">
      <div class="col s12 center-align">
        <!-- cancel button -->
        <a
          href="{{ url_for('profile', username=session['user']) }}"
          class="btn-large"
          style="background-color: #ca5310"
        >
          Cancel
        </a>
        <button
          type="submit"
          class="btn-large"
          style="background-color: #ca5310"
        >
          Edit
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
