{% extends "base.html" %} {% block content %}

<div class="container-1">
  <h1 id="greeting"></h1>
  <div class="row boxes">
    <div class="col s6 z-depth-2">
      <p>Total Tasks</p>
      <p>{{ tasks|selectattr('task_name')|list|length }}</p>
    </div>
    <div class="col s6 z-depth-2">
      <p>High Priority Tasks</p>
      <p>{{ tasks|selectattr('priority','equalto','High')|list|length }}</p>
    </div>
  </div>
  <h2>Upcoming Tasks</h2>
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Description</th>
        <th>Due</th>
        <th>Team</th>
        <th>Priority</th>
        <th>Assign to</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{ task.task_name }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.due }}</td>
        <td>{{ task.team }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.created_by }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Completed Tasks</h2>
  <table>
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Deadline</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks.completed %}
      <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.deadline }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
