{% extends "base.html" %} {% block content %}

<div class="container-1">
  <div class="row profile">
    <p id="date"></p>
    <h2>Hello, {{ username }}.</h2>
    <div class="col s4">
      <p>Position: {{ user_data['team_position'] }}</p>
    </div>
    <div class="col s4">
      <p>Team: {{ team }}</p>
    </div>
    <div class="col s4">
      <p>Email: {{ user_data['email'] }}</p>
    </div>
  </div>

  <!-- add task button -->
  <button class="btn-large" style="background-color: #ca5310">
    <a href="{{ url_for('add_task') }}" style="color: #fff">Add New Task</a>
  </button>
  <!-- my task section -->
  <h3>My Tasks</h3>
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Description</th>
        <th>Due</th>
        <th>Team</th>
        <th>Priority</th>
      </tr>
    </thead>
    <tbody>
      {% for task in user_tasks %}
      <tr>
        <td>{{ task.task_name }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.due }}</td>
        <td>{{ task.team_name }}</td>
        <td>{{ task.priority }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Meet Your Team - <span>{{ team }}</span></h2>
  <ul class="members">
    {% for member in team_members %}
    <li>
      {{ member.username }} ({{ member.team_position }}) - Email: {{
      member.email }}
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
